.App {
  font-family: 'Montserrat', sans-serif;
}

.App-image {
  float: left;
  padding: 15px 15px 15px 15px;
}

.App-header {
  background-color: #282c34;
  padding: 15px 0 15px 0;
  min-height: 96.5vh;
  text-align: center;
  font-size: calc(25px + 1vmin);
  color: white;
}

.App-input {
  text-align: left;
  margin: 5px 5px 0 0;
  width: 45vw;
  height: 80vh;
  font-size: calc(6px + 2vmin);
  color: black;
}


.App-output {
  text-align: left;
  margin: 5px 0 0 5px;
  width: 45vw;
  height: 80vh;
  font-size: calc(6px + 2vmin);
  color: black;
}

h2{
  text-align: center;
  font-size: calc(12px + 1vmin);
}

#space {
  padding: 0 calc(30px + 35vmin) 0 calc(30px + 35vmin);
}

textarea {
  resize: none;
}

.Filter {
  fill: white;
}